<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Uploaded Homework</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h3 class="text-center mb-4">Uploaded Homework</h3>
        <div id="app">
            <p v-if="selectedClass" class="text-center"> Class: {{ selectedClass }}</p>
            <!-- Only show the homework list if there are any items -->
            <div v-if="homeworkList.length > 0" class="list-group shadow-sm">
                <a v-for="homework in homeworkList" :key="homework.id" href="#" class="list-group-item list-group-item-action">
                    <h4 class="mb-1">{{ homework.title }}</h4>
                    <h6 class="mb-1">{{ homework.fileName }}</h6>
                    <p class="mb-1">Uploaded by: {{ homework.studentId }} from {{ homework.sectionId }} on {{ new Date(homework.uploadedAt).toLocaleString() }}</p>
                </a>
            </div>
            <!-- Message when no homework is found -->
            <p v-else class="text-center">No homework uploaded for {{ selectedClass }}</p>
        </div>
    </div>
    <script type="module" src="js/viewHomework.js"></script>
</body>

</html>
