/* Navbar styling */
.navbar {
    background-color: green !important;
}

.navbar .nav-link {
    color: white !important;
    /* Makes the text white */
    font-size: 18px !important;
    /* Sets font size */
}

.navbar .navbar-brand,
.navbar .navbar-toggler-icon {
    color: white !important;
}


#logout-btn {
    color: white;
    background-color: #007bff;
    border: none;
    margin-right: 15px;
}

/* Snackbar Styling */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #000;
    /* Black background */
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 20px;
    /* Positioned at the bottom */
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.snackbar.show {
    visibility: visible;
    opacity: 1;
}