/* Navbar styling */
.navbar {
    background-color: green !important;
}

.navbar .nav-link {
    color: white !important; /* Makes the text white */
    font-size: 18px !important; /* Sets font size */
}

.navbar .navbar-brand,
.navbar .navbar-toggler-icon {
    color: white !important;
}


#logout-btn {
    color: white;
    background-color: #007bff;
    border: none;
    margin-right: 15px;
}
